NODE_ENV=development
PORT=9000
HOST=0.0.0.0
LOGGER_LEVEL=info
BASE_API_ROUTE=/api
BASE_ADMIN_ROUTE=/admin
MONGO_DB=test
MONGO_DB_URL=mongodb://127.0.0.1:27017/test
MONGO_USER=test
MONGO_PASSWORD=test1234